* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
    border-radius: 0px 40px 0 40px;
    box-shadow: 0px 0px 33px 0px red;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 900px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
    background-image: url("img/image12.jpg");
    background-position: center;
    padding-left: 20px;
    padding-right: 30px;
    font-stretch: expanded;
    background-size: cover;
 }
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid #931420;
	background-image: -moz-linear-gradient(
	    30deg, #f6bb73 90%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #f6bb73 90%, #fffded 30%, white 50%, #fffded 80%, #f6bb73 100%);
	background-image: -o-linear-gradient(
	    30deg, #f6bb73 90%, #fffded 30%, white 50%, #fffded 80%, #f6bb73 100%);
	background-image: linear-gradient(
	    30deg, #f6bb73 0%, #fffded 30%, white 50%, #fffded 80%, #f6bb73 100%);

}
header h2 {
	font-size: 175%;
	color: #800000;
	margin: 0px 200px;
}
header h3 {
	font-size: 130%;
	font-style: italic;
	margin: 0px 200px;
}
header img {
	float: left;
	padding: 0 30px;
	margin: 0px 50px;
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}
/* the styles for the main content */
main {
	clear: left;
}
/* the styles for the section */
section {
	width: 600px;
	float: right;
	padding: 0 20px 20px 20px;
}
section h1 {
	font-size: 150%;
	padding: .5em 0 .25em 0;
	margin: 0;               /* If you remove this, the margins in normalize.css will be applied. */
}
section h2 {
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em 0;
	text-decoration: underline;
}
section p {
	padding-bottom: 6px;
	padding-right: 220px;
}
section blockquote {
	padding: 6px;
	font-style: italic;
}
section ul {
	padding: 0 0 .25em 1.25em;
}
section li {
	padding-bottom: 6px;
}

/* the styles for the article */
article {
	padding: 6px;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000 ;	
}
#bor{
	padding: 6px;
	border-top: 2px solid #800000;
}
article h2 {
	padding-top: 6;
	text-decoration: underline;
}
article h3 {
	font-size: 105%;
	padding-bottom: 6px;
}
article img {
	width: 206px;
	height: 205px;
	float: right;
	margin: 12em 0 0em 1em;
	border: 1px solid black;
	border-radius: 20px;
}
.idea img{
	width: 200px;
	height: 200px;
	margin: 5em 0 0 1em;
}

/* the styles for the aside */
aside {
	width: 215px;
	float: right;
	padding: 6px 0px 6px 0px;
}
aside h2 {
	font-size: 130%;
	padding-top: .500em;
	text-decoration: underline;
	}
aside img  {
	height: 165px;
	width: 185px;	
	border: 2px solid black;
	margin-top: 20px;
	border-radius: 20px;
}
aside.para1{
	line-height: 1.5;
}

/* the styles for the footer */
footer {
	background-color: #931420;
	clear: both;

}
footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}
.newspaper{
	column-count: 3;
}
	
a:hover {
		color: green;
	}
a:focus {
	color: orange;
}
p.para1{
	line-height: 1.8;
}

.navlist{
    display: flex;
}
.navlist a{
    display: inline-flex;
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--text-color);
    margin: 21px 10px 6px 10px; 
    transition: all .6s ease;
}
.navlist a:hover{
    color: var(--other-color);
    transform: translateY(-6px);
}